.home {
    position: relative;
    top: -17vh;
    width: 85vw;
    margin-inline: auto;
    padding-top: 10vh;
    padding-bottom: 5vh;
    background-color: var(--Color1);
    border-radius: 1rem;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .home {
        width: 70vw;
    }
}

.head_Home {
    margin-bottom: 5vh;

    h2 {
        font-size: 2rem;
        font-weight: 800;
        letter-spacing: 1.5px;
    }

    p {
        width: 50%;
        margin: 3vh auto;
        font-size: 1.1rem;
        font-weight: 500;
        color: var(--Color3);
    }

    img {
        position: absolute;
        top: 50px;
        right: 24%;
        opacity: .5;
    }

    @media screen and (max-width: 1024px) {
        p {
            width: 75%;
        }
    }
}

button {
    color: var(--Color5);
    font-weight: 700;
    padding: .7rem;
    margin-inline: 15px;
    border-radius: 10px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.active {
    background-color: var(--Color3);
}