.home {
    position: relative;
    top: -15vh;
    width: 80vw;
    margin-inline: auto;
    background-color: var(--Color1);
    border-radius: 1rem;
    border: 1px solid blue;
    text-align: center;
}

.head_Home {
    margin-top: 10vh;

    h2 {
        font-size: 2rem;
        font-weight: 800;
        letter-spacing: 1.5px;
    }

    p {
        width: 50%;
        margin: 3vh auto;
        font-size: 1rem;
        font-weight: 500;
        color: var(--Color3);
    }

    img {
        position: absolute;
        top: 30px;
        opacity: .5;
    }
}